.preloader, #preLoader { position: fixed; width: 100%; height: 100%; z-index: 9999999999; background: rgba(255,255,255,0.9); top: 0; left: 0;}
.preloader{ display:none;}
#preLoader{ background-color: #fff !important;}
.loader { position: absolute; top: 45%; left: 0; right: 0; transform: translateY(-45%); text-align: center; margin: 0 auto; width: 30px; height: 30px;}
.box { width: 100%;height: 100%; animation: animate .5s linear infinite; position: absolute; top: 0; left: 0; border-radius: 3px;}
.loader_shadow { width: 100%; height: 5px; background: #000; opacity: 0.1; position: absolute; top: 49px; left: 0; border-radius: 50%; animation: shadow .5s linear infinite; }


@keyframes loader {

    0% { left: -100px}

    100% { left: 110%;}

}

@keyframes animate {

    17% {  border-bottom-right-radius: 3px; }

    25% {  transform: translateY(9px) rotate(22.5deg); }

    50% { transform: translateY(18px) scale(1,.9) rotate(45deg); border-bottom-right-radius: 40px; }

    75% { transform: translateY(9px) rotate(67.5deg); }

    100% { transform: translateY(0) rotate(90deg);}

}

@keyframes shadow {

    50% {  transform: scale(1.2,1); }

}

.error{ color:red; font-size:13px; }
label#terms-error { padding-left: 30px; }
.cursor{ cursor: pointer; }
.modal_show{ display: block;}
.pignose-calendar-unit-active.pignose-calendar-unit-first-active{pointer-events: none;}

#us3 { width: 100% !important; height: 200px !important;}
span.select2.select2-container.select2-container--default{  width: 100% !important; }
.select2-container--default .select2-selection--single {  border-radius: 3px; background: #fff; border: 1px solid #ccc; }
.select2-container--default .select2-selection--single .select2-selection__rendered{padding: 2px 15px; color: #333; font-size: 15px; line-height: 30px;}
.select2-container .select2-selection--single { height: 36px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 36px; top: 0px; width: 30px; }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: var(--secondary-color) !important; color: #555; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color: var(--primary-color) !important; color: #fff; }

.us3 { width: 100% !important; height: 260px !important; }
.em-plus,.em-minus{  -webkit-user-select: none; /* Safari */ -ms-user-select: none; /* IE 10+ and Edge */  user-select: none; /* Standard syntax */}